.link {
    align-self: center;
    width: 50px;
    aspect-ratio: 1 / 1;
    overflow: hidden;
    position: relative;
}

.link_img {
    height: 100%;
    width: 100%;
    object-fit: contain;
}

@media (max-width: 768px) {
    .link {
        width: 40px;
    }
}

@media (max-width: 468px) {
    .link {
        width: 40px;
    }
}
